@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Moirai-One';
    src: url('/src/assets/fonts/Moirai_One/MoiraiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modak';
    src: url('/src/assets/fonts/Modak/Modak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#root{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content{
    flex: 1;
}